<div class="jumbotron text-center">
  <h1>MEAN Authentication</h1>
  <p class="lead">Welcome to our scratch-built mean app!</p>
  <div>
    <a class="btn btn-primary" [routerLink]="['/login']">Login</a>
    <a class="btn btn-primary" [routerLink]="['/register']">Register</a>
  </div>
</div>

<div class="row">
  <div class="col-md-4">
   <h3>Express Backend</h3>
   <p>Using Node.js/Express plus Mongoose to organize models and query the Database.</p>
    </div>
  <div class="col-md-4">
   <h3>Angular Frontend</h3>
   <p>Using Angular 5 for components, services, and more. My first experience with the framework.</p>
  </div>
  <div class="col-md-4">
   <h3>JWT Auth</h3>
   <p>Full-Featured authentication using JSON web tokens. Login and User Data Storage</p>
  </div>
</div>